# used in docker-compose
COMPOSE_PROJECT_NAME=doge-indexer

# used in django
DJANGO_SETTINGS_MODULE=project.settings.remote
SECRET_KEY=secret
DB_NAME=db
DB_USER=db
DB_PASSWORD=secret

# used for postgres, the values should be same as above DB_ values
POSTGRES_DB=db
POSTGRES_USER=db
POSTGRES_PASSWORD=secret

# needed for remote
ALLOWED_HOST=*
EXPORT_METRICS=true
# SENTRY_DSN=dsn
# SENTRY_ENVIRONMENT=develop
# SENTRY_TRACES_SAMPLE_RATE=0.1
CORS_ALLOWED_ORIGINS=https://172.17.0.1
# ADMIN_EMAIL=email
# ADMIN_PASSWORD=email

# required
NODE_RPC_URL=http://dogecoin-node:44555/
AUTH_USERNAME=admin
AUTH_PASSWORD=secretpassword

# optional
INDEXER_POLL_INTERVAL=10
INITIAL_BLOCK_HEIGHT=5706000
NUMBER_OF_BLOCK_CONFIRMATIONS=60
NUMBER_OF_WORKERS=10
PRUNE_KEEP_DAYS=14
PRUNE_INTERVAL_SECONDS=60
